@include media-sm {

    .title{
        font-size: large;
    }

    .stadistics{
        h2{
            font-size: large;
        }
    }
    h2{
        font-size: large;
    }

    #mode>div {
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    #comands>div{
        flex-direction: column;
        align-self:stretch;
    }
}
