$orange : #FF8C00;
$color-font: #2F4F4F;
$blue: #1E90FF;
$green: #00FF7F;
$pink: #FF1493;
$white: #f7f7f7;
$background-color: #f5f5dc;
$screen-tablet: 48rem;
$screen-laptop: 64rem;
$screen-xxl: 160rem;
