@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import "variables";


html {
    background-color: $background-color;
}

.cmp-tictactoe {
    position: relative;
    min-height: 100vh;
    margin: 0 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: $color-font;

    @media screen and (min-width: $screen-laptop) {
        margin: 0 10rem;
    }

    @media screen and (min-width: $screen-xxl) {
        margin: 0 30rem;
    }

    &__title {
        text-align: center;
        margin-top: 3rem;
        font-size: 2rem;
        text-transform: uppercase;

        @media screen and (min-width: $screen-laptop) {
            font-size: 4rem;
        }
    }

    &__modality {
        margin-top: 3rem;
        display: flex;
        gap: 1rem;
        min-height: 2rem;
        justify-content: center;

        &-element {
            border-radius: 0.3125rem;
            padding: 0.5rem;
            border: none;
            box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);

            @media screen and (min-width: $screen-tablet) {
                font-size: 1rem;
                padding: 0.5rem 1.5rem;
            }

            &--active {
                color: $white;
                font-weight: bolder;
                background-color: $orange
            }
        }

        &-element:hover {
            color: $white;
            background-color: $color-font;
        }
    }


    &__messages {
        width: 100%;
        min-height: 4rem;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
        font-style: italic;
    }

    &__game-zone {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .game-zone {
            &__board {
                grid-column: 1 / span 2;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(3, 4rem);
                grid-template-rows: repeat(3, 4rem);

                @media screen and (min-width: $screen-tablet) {
                    grid-template-columns: repeat(3, 5rem);
                    grid-template-rows: repeat(3, 5rem);
                }

                &-element {
                    border: 0.125rem solid $orange;
                    box-shadow: 0 0.25rem 0.625rem $orange;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                }

                :first-child,
                :nth-child(2),
                :nth-child(3) {
                    border-top: none;
                }

                :first-child,
                :nth-child(4),
                :nth-child(7) {
                    border-left: none;
                }

                :nth-child(3),
                :nth-child(6),
                :nth-child(9) {
                    border-right: none;
                }

                :nth-child(7),
                :nth-child(8),
                :nth-child(9) {
                    border-bottom: none;
                }
            }

            &__player {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin-top: 3rem;
                min-width: 4rem;

                &-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.6rem;
                    position: relative;

                    @media screen and (min-width: $screen-tablet) {
                        flex-direction: row;
                        align-items: center;
                    }

                    .player-container {
                        &__name {
                            font-size: 1.2rem;
                            text-transform: capitalize;
                        }

                        &__mark {
                            font-size: 3rem;
                        }

                        &__edit {
                            background: none;
                            border: none;
                            color: $white;
                            font-weight: bolder;
                            font-size: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;

                            @media screen and (min-width: $screen-tablet) {
                                position: absolute;
                                visibility: hidden;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                height: 100%;
                                opacity: 0;
                                transition: opacity 0.3s ease;
                            }

                            &-text {
                                display: none;

                                @media screen and (min-width: $screen-tablet) {
                                    display: block;
                                }
                            }

                            @media screen and (min-width: $screen-tablet) {
                                width: 1.5rem;
                            }


                            &-icon {
                                width: 0.9375rem;

                                @media screen and (min-width: $screen-tablet) {
                                    width: 1.5rem;
                                }
                            }
                        }
                    }
                }

                &-container:hover .player-container__edit {
                    visibility: visible;
                    opacity: 1;
                    background-color: $color-font;
                    width: 60%;
                    border-radius: 0.3125rem;
                    box-shadow: 0 0.25rem 0.625rem $orange;
                }


                &-score {
                    font-size: 4rem;
                    font-family: "Kode Mono", monospace;
                }
            }
        }
    }

    &__controls {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
            border-radius: 0.3125rem;
            padding: 0.5rem;
            border: none;
            background-color: $orange;
            color: $white;
            font-weight: bolder;
            box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);

            @media screen and (min-width: $screen-tablet) {
                font-size: 1rem;
                padding: 0.5rem 1.5rem;
            }
        }

        button:hover {
            background-color: $color-font;
        }
    }

    .cmp-tictactoe__name-modal {
        padding: 2rem;
        border: none;
        border-radius: 0.5rem;
        width: 18.75rem;
        max-width: 70%;
        background-color: $white;
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
        text-align: center;

        &::backdrop {
            opacity: 0.5;
            background-color: $color-font;
        }

        label,
        input,
        select,
        button {
            display: block;
            margin: 0.5rem auto;
            width: 90%;
            font-size: 1rem;
        }

        button {
            border-radius: 0.3125rem;
            color: $white;
            padding: 0.5rem;
            border: none;
            background-color: $orange;
            font-weight: bolder;
            box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
            color: $white;
        }

        button:hover {
            background-color: $color-font;
        }
    }
}
