.cmp-tictactoe {
    position: relative;
    min-height: 100vh;
    margin: 0 3rem;

    &__title {
        text-align: center;
        margin-top: 4rem;
        font-size: 2rem;

    }

    &__modality {
        margin-top: 4rem;
        display: flex;
        gap: 1rem;
        justify-content: center;

        &-element {

            &--active {
                background-color: darkgray;
            }
        }

    }

    &__messages {
        width: 100%;
        min-height: 4rem;
        margin-top: 4rem;
        text-align: center;
    }

    &__game-zone {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .game-zone {
            &__board {
                grid-column: 1 / span 2;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(3, 4rem);
                grid-template-rows: repeat(3, 4rem);

                &-element {
                    border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;

                    // width: 4rem;
                    // height: 4rem;
                }
            }

            &__player {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 4rem;


                &-container {
                    display: flex;
                    justify-content: center;
                    gap: 0.5rem;

                    .player-container {
                        &__name {
                            font-size: 1.2rem;
                        }

                        &__edit {
                            background: none;
                            border: none;

                            &-icon {
                                width: 15px;
                            }
                        }

                    }
                }
            }
        }
    }

    &__controls {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }

    &__name-modal {
        padding: 2rem;
        border: none;
        background-color: white;

    }

    &__name-modal::backdrop {
        opacity: 0.5;
        background-color: aqua;

    }


}
